.root {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerStyle {
  display: table;
  color: #333;
  width: 100%;
}


a {
  margin: 20px;
  text-decoration: none;
  color: #333;
}
a:hover, a:focus, a:active {
  color: #4265ff;
}

#root {
  text-align: center;
  color: #333;
}

input{
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 200px;
}
select {
  border-radius: 30px;
  border: none;
  height: 30px;
  width: 220px;
  outline: none;
}
button{
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100px;
  background-color: #333;
  color: #edeff5;
}
button:hover{
  background-color: #edeff5;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 5px;
  grid-template-areas: "Option1 Option2 Option3" "Option4 Option5 Option6";
}

.Option1 { grid-area: Option1; }

.Option2 { grid-area: Option2; }

.Option3 { grid-area: Option3; }

.Option4 { grid-area: Option4; }

.Option5 { grid-area: Option5; }

.Option6 { grid-area: Option6; }


.footerStyle {
  top: 95%;
  height: 50px;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}